@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in my CAT Space</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        In suscipit quis est ac sollicitudin. Donec tempus massa id fermentum scelerisque. 
        In hac habitasse platea dictumst. Integer pulvinar, lorem sed accumsan eleifend, metus mi hendrerit tellus, ut aliquet lacus felis a purus. Proin dapibus pharetra ex, eget efficitur lorem pharetra non. Quisque sagittis at mi in pretium. Sed leo lectus, vehicula eget cursus quis, auctor quis libero. Ut semper elit imperdiet finibus consequat. Morbi nisl ante, ornare eget vulputate non, laoreet non libero. Sed nec diam ut velit consectetur porttitor sed vel arcu. Proin pharetra ultricies mauris, non bibendum lacus feugiat quis. Phasellus augue enim, faucibus sit amet hendrerit nec, imperdiet at erat. Aliquam ut nulla ac nulla iaculis gravida id ut sem. Proin sapien augue, efficitur mattis auctor ut, malesuada quis quam.

        Pellentesque vel gravida justo. 
        Integer quis orci sem. Phasellus congue lacus non posuere ornare. Aliquam ullamcorper lacus nec neque accumsan consectetur. Ut ligula velit, tristique in urna in, vestibulum tempor orci. Mauris pretium auctor enim eu iaculis. In hac habitasse platea dictumst. Praesent rutrum blandit tempor. Quisque sed augue aliquet, pulvinar magna vel, hendrerit metus. Pellentesque sodales diam et felis sollicitudin, id vulputate nunc fermentum. Quisque ultricies sapien ligula, auctor dapibus sapien imperdiet quis. Etiam erat enim, commodo vel placerat id, fringilla eu felis.

        Integer sagittis tempor aliquam. Suspendisse ut lectus ut lorem vestibulum convallis ut sit amet metus. Donec finibus tincidunt purus id auctor. Duis pulvinar mi hendrerit blandit laoreet. Donec nunc justo, viverra ut lectus non, dignissim suscipit libero. Phasellus magna velit, dictum et risus eget, lacinia cursus ante. Phasellus eleifend varius dolor, quis ultrices eros tempus nec. Maecenas volutpat eget nisl sed viverra. Sed et mattis nibh, a aliquet mi. Fusce tristique nulla bibendum, porta magna congue, fringilla enim. In malesuada dui sit amet dignissim tempor. Fusce luctus auctor nunc, in ultricies mi blandit quis. Proin commodo urna efficitur eros commodo pharetra. Fusce sit amet venenatis metus.

        Mauris ut scelerisque ante, sed faucibus ante. Duis quis magna ac velit elementum interdum. Donec malesuada pellentesque risus, eu ornare massa ultrices et. Proin consectetur, leo sit amet porttitor consequat, sapien arcu bibendum elit, at ullamcorper tellus diam in nisl. Aliquam pharetra justo scelerisque tortor molestie euismod. Suspendisse commodo suscipit sagittis. Suspendisse vel laoreet erat, ut mattis sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla placerat lacus nisi, eu semper justo elementum et. Vestibulum vehicula dolor tellus, ut vehicula leo auctor vel. In eget nisl condimentum, consequat nunc et, placerat lectus. Mauris accumsan sagittis magna in sollicitudin. Aliquam blandit felis sed sem fermentum congue. Quisque sem libero, tempus ultrices nulla eu, tempor viverra mi. Mauris fermentum ex eu tempus venenatis. Fusce ac dignissim erat.
        Тук
    </p>
</div>
